td {
  color: #2B2B2C;
}
thead{
  background-color: #D8D8D8;
}
.sorting {
  color: #2B2B2C;
}
.bg-grafico-image {
   display: block;
   margin: 5% auto;
   text-align : center;
}
.bg-login-image {
  background: url("../img/my_img/idosos3.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-register-image {
  background: url("../img/my_img/idosos5.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-password-image {
  background: url("../img/my_img/casal.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.card-body{
  background-color: #F5F5F5;
}
.usuario{
  color: #4D72DE;
}