{% extends 'base.html' %}
{% load static %}

{% block title %} Dependentes {% endblock %}

{% block content %}
  <!-- <h1 class="h3 mb-2 text-gray-800">Dependentes</h1> -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="d-sm-flex align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Dependentes</h6>
        <a href="{% url 'dependente_add' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
          class="fas fa-plus fa-sm text-white-50"></i> Adicionar</a>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          id="dataTable"
          class="table table-bordered"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              {% for label in labels %}
                <th>{{ label }}</th>
              {% endfor %}
              <th style="min-width:8rem">Acões</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              {% for label in labels %}
                <th>{{ label }}</th>
              {% endfor %}
              <th style="min-width:8rem">Acões</th>
            </tr>
          </tfoot>
          <tbody>
            {%  for object in object_list %}
              <tr>
                <td>
                  <a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
                <td>{{ object.data_nascimento|date:"d/m/Y"|default:"---" }}</td>
                <td>{{ object.cidade|default:"---" }} </td>
                <td>{{ object.celular_whatsapp|default:"---" }} </td>
                <td>{{ object.dependente_convenio_medico }} </td>
                <td>{{ object.dependente_contato_fone_convenio }} </td>
                <td>{{ object.active|yesno:"Sim,Não" }} </td>

                <td>
                  <a class ="btn btn-warning btn-sm" href="{% url 'dependente_edit' object.id %}">Editar</a>
                  <span
                    id="linkDeletar"
                    class ="btn btn-danger btn-sm"
                    hx-delete="{% url 'dependente_delete' object.pk %}"
                    hx-confirm="Deseja mesmo deletar?"
                    hx-target="closest tr"
                    hx-swap="outerHTML swap:500ms"
                  >
                    Excluir
                  </span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });

    htmx.on("htmx:afterSwap", function(evt) {
      if (evt.target.id == 'linkDeletar'
      ) {
        location.reload();
      }
    });
  </script>
{% endblock js %}