{% extends 'base.html' %}


{% block title %} Famílias {% endblock %}

{% block content %}
  <!-- <h1 class="h3 mb-2 text-gray-800">Famílias</h1> -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="d-sm-flex align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Famílias</h6>
        {% if familia == None %}
          <a href="{% url 'familia_add' %}" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" class="fas fa-plus fa-sm text-white-50"> Adicionar</a>
        {% endif %}
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive-sm">
        <table
          id="dataTable"
          class="table"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              {% for label in labels %}
                <th>{{ label }}</th>
              {% endfor %}
              <th style="min-width:8rem">Acões</th>
            </tr>
          </thead>

          <tbody>
            {%  for object in object_list %}
              <tr>
                <td>
                  <a href="{{ object.get_absolute_url }}">{{ object.nome }}</a>
                </td>
                <td>{{ object.cidade|default:"---" }} </td>
                <td>{{ object.get_uf_display|default:"---" }} </td>


                <td>
                  <a class ="btn btn-warning btn-sm" href="{{ object.update_url }}">Editar</a>
                  <span
                    id="linkDeletar"
                    class ="btn btn-danger btn-sm"
                    hx-delete="{{ object.delete_url }}"
                    hx-confirm="Deseja mesmo deletar?"
                    hx-target="closest tr"
                    hx-swap="outerHTML swap:500ms"
                  >
                    Excluir
                  </span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });

    htmx.on("htmx:afterSwap", function(evt) {
      if (evt.target.id == 'linkDeletar'
      ) {
        location.reload();
      }
    });
  </script>
{% endblock js %}