{% extends 'base.html' %}

{% block title %} Responsáveis {% endblock %}

{% block content %}
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="d-sm-flex align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Detalhes do Responsável</h6>
           {% if familia != None %}
                <a href="{{ object.list_url }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Voltar</a>
           {% else %}
               <a href="{% url 'familia_add' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" class="fas fa-plus fa-sm text-white-50"> Adicionar Familia</a>
           {% endif %}
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <td>Nome</td>
              <td>{{ object.user.get_full_name }}</td>
            </tr>

            <tr>
              <td>Família</td>
              <td>{{ object.familia|default:"---" }}</td>
            </tr>

            <tr>
              <td>Data de Nascimento</td>
              <td>{{ object.data_nascimento|date:"d/m/Y"|default:"---" }}</td>
            </tr>

            <tr>
              <td>RG</td>
              <td>{{ object.rg|default:"---" }}</td>
            </tr>

            <tr>
              <td>CPF</td>
              <td>{{ object.cpf|default:"---" }}</td>
            </tr>

            <tr>
              <td>WhatsApp</td>
              <td>{{ object.celular_whatsapp|default:"---" }}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{ object.user.email|default:"---" }}</td>
            </tr>
            <tr>
              <td>Telefone</td>
              <td>{{ object.telefone|default:"---" }}</td>
            </tr>

            <tr>
              <td>Estado Civil</td>
              <td>{{ object.get_estado_civil_display|default:"---" }}</td>
            </tr>

            <tr>
              <td>Nome Cônjuge</td>
              <td>{{ object.nome_conjuge|default:"---" }}</td>
            </tr>

            <tr>
              <td>Naturalidade</td>
              <td>{{ object.naturalidade|default:"---" }}</td>
            </tr>

            <tr>
              <td>Parentesco</td>
              <td>{{ object.get_parentesco_do_responsavel_display|default:"---" }}</td>
            </tr>

            <tr>
              <td>Endereço</td>
              <td>{{ object.endereco|default:"---" }}</td>
            </tr>

            <tr>
              <td>Bairro</td>
              <td>{{ object.bairro|default:"---" }}</td>
            </tr>

            <tr>
              <td>Cidade</td>
              <td>{{ object.cidade|default:"---" }}</td>
            </tr>

            <tr>
              <td>UF</td>
              <td>{{ object.get_uf_display|default:"---" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
