<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" style="background-color:#DDDEE3; font-size:small " href="{% url 'home' %}">
    <div class="figure-img">
      <img src="../../static/img/my_img/casal_rosto.png" style="width: 70px" />
    </div>
    <div class="sidebar-brand-text mx-3" style="color:#4D72DE"> Meus Dependentes</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading
  <div class="sidebar-heading">
    Famílias
  </div>-->
  <li class="nav-item" >
    <a class="nav-link" href="{% url 'familia_list' %}">
      <i class="fas fa-fw fa-table"></i>
      <span>Famílias</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading
  <div class="sidebar-heading">
    Dependentes
  </div>-->

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'dependente_list' %}">
      <i class="fas fa-fw fa-table"></i>
      <span>Dependentes</span></a>
  </li>

  <!-- Heading
  <div class="sidebar-heading">
    Consultas
  </div>-->

  <!-- Divider -->
  <hr class="sidebar-divider">

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
      aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Consultas</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'consulta_list' %}">Consultas</a>
        <a class="collapse-item" href="{% url 'posconsulta_list' %}">Pós Consultas</a>

      </div>
    </div>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'medicamento_list' %}">
      <i class="fas fa-fw fa-table"></i>
      <span>Medicamentos</span></a>
  </li>
  <hr class="sidebar-divider">

  <li class="nav-item">
    <a class="nav-link" href="{% url 'glicose_list' %}">
      <i class="fas fa-fw fa-table"></i>
      <span>Medição Glicose</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <!--<div class="sidebar-heading">
    Responsáveis
  </div>-->

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">

      <i class="fas fa-fw fa-cog"></i>
      <span>Responsáveis</span>
    </a>

    <div id="collapseUtilities" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'responsavel_list' %}">Responsáveis</a>
        <a class="collapse-item" href="{% url 'escalaresponsavel_list' %}">Escala Responsáveis</a>
      </div>
    </div>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading
  <div class="sidebar-heading">
    Cuidadores
  </div>-->

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCuidadores"
      aria-expanded="true" aria-controls="collapse">
      <i class="fas fa-fw fa-cog"></i>
      <span>Cuidadores</span>
    </a>
    <div id="collapseCuidadores" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'cuidador_list' %}">Cuidadores</a>
        <a class="collapse-item" href="{% url 'jornadatrabalho_list' %}">Jornada de Trabalho</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFinanceiro"
      aria-expanded="true" aria-controls="collapse">
      <i class="fas fa-fw fa-cog"></i>
      <span>Controle Financeiro</span>
    </a>
    <div id="collapseFinanceiro" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'financeiro' %}">Despesas</a>
      </div>
    </div>
  </li>


  <!-- Nav Item - Tables
  {% if debug %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'tables' %}">
        <i class="fas fa-fw fa-table"></i>
        <span>Tables</span></a>
    </li>-->
  {% endif %}

<!-- Divider-->
<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Toggler (Sidebar)-->
<div class="text-center d-none d-md-inline">
  <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>

</ul>
