{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <h3>Esqueci a senha</h3>
              <p class="text-muted">Digite seu e-mail.</p>
              <form action="." method="POST">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                  <div class="form-group{% if field.errors %} has-error {% endif %}">
                    <label>
                      {% if field.field.required %}
                        <span class="required">{{ field.label }} </span>
                      {% else %}
                        {{ field.label }}
                      {% endif %}
                    </label>
                    <div class="input-group mb-3">
                      {% render_field field class="form-control" placeholder=field.label %}
                    </div>
                    <span class="text-muted">{{ field.help_text }}</span>
                    {% for error in field.errors %}
                      <br> <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                  </div>
                {% endfor %}
                <button class="btn btn-block btn-success" type="submit">Enviar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
