{% extends "base_login.html" %}
{% load widget_tweaks %}

{% block content %}
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
        <div class="col-lg-6">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Trocar senha</h1>
              <p class="text-muted">Digite sua nova senha.</p>
            </div>
            <form class="user" action="." method="POST">
              {% csrf_token %}
              {% for field in form.visible_fields %}
                <div class="form-group{% if field.errors %} has-error {% endif %}">
                  <label>
                    {% if field.field.required %}
                      <span class="required">{{ field.label }} </span>
                    {% else %}
                      {{ field.label }}
                    {% endif %}
                  </label>
                  <div class="input-group mb-3">
                    {% render_field field class="form-control form-control-user" placeholder=field.label %}
                  </div>
                  <span class="text-muted">{{ field.help_text }}</span>
                  {% for error in field.errors %}
                    <br> <span class="text-danger">{{ error }}</span>
                  {% endfor %}
                </div>
              {% endfor %}
              <button class="btn btn-primary btn-user btn-block" type="submit">
                Enviar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
