{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <p>Nós te enviamos um e-mail com instruções para configurar sua senha, se uma conta existe com o e-mail fornecido. Você receberá a mensagem em breve.</p>
              <p>Se você não recebeu um e-mail, por favor certifique-se que você forneceu o endereço que você está cadastrado, e verifique sua pasta de spam.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
