{% extends 'base.html' %}
{% load static %}

{% block title %} Consultas {% endblock %}

{% block content %}
  <!-- <h1 class="h3 mb-2 text-gray-800">Consultas</h1> -->
  <h2><b><label>{{ user.get_full_name }} {% if familia %}-  Família {% endif %} {{ familia|default:"" }}</label></b></h2>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="d-sm-flex align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Consultas</h6>
        <a href="{% url 'consulta_add' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
          class="fas fa-plus fa-sm text-white-50"></i> Adicionar</a>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          id="dataTable"
          class="table table-bordered"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              {% for label in labels %}
                <th>{{ label }}</th>
              {% endfor %}
              <th style="min-width:8rem">Acões</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              {% for label in labels %}
                <th>{{ label }}</th>
              {% endfor %}
              <th style="min-width:8rem">Acões</th>
            </tr>
          </tfoot>
          <tbody>
            {%  for object in object_list %}
              <tr>
                <td><a href="{{ object.get_absolute_url }}">{{ object.data_consulta|date:"d/m/Y" }}</a></td>
                <td>{{ object.hora }}</td>
                <td>{{ object.dependente }}</td>
                <td>{{ object.dependente.familia }}</td>
                <td>{{ object.get_especialidade_display|default:"---" }} </td>
                <td>{{ object.nome_especialista|default:"---" }} </td>
                <td>{{ object.get_atendimento_display|default:"---" }} </td>
                <td>{{ object.acompanhante_responsavel|default:"---" }} </td>
                <td>{{ object.cancelamento|default:"---" }} </td>
                <td>
                  {% if object.pos_consultas.all %}
                    <a class="btn btn-primary btn-sm" href="{% url 'posconsulta_list' %}">Pós Consulta</a>
                  {% else %}
                    <a class="btn btn-success btn-sm" href="{% url 'posconsulta_add' object.pk %}">Criar Pós Consulta</a>
                  {% endif %}
                </td>
                <td>
                  <a class ="btn btn-warning btn-sm" href="{% url 'consulta_edit' object.pk %}">Editar</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });

    htmx.on("htmx:afterSwap", function(evt) {
      if (evt.target.id == 'linkDeletar'
      ) {
        location.reload();
      }
    });
  </script>
{% endblock js %}