{% extends 'base.html' %}
{% load usergroup_tags %}

{% block title %} Taxa de Glicose {% endblock %}

{% block content %}
  <!-- <h1 class="h3 mb-2 text-gray-800">Taxa de Glicose</h1> -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="d-sm-flex align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Taxa de Glicose</h6>
        <a href="{% url 'glicose_add' %}" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
          class="fas fa-plus fa-sm text-white-50"></i> Adicionar</a>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive-sm">

        <table
          id="dataTable"
          class="table table-striped"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              {% for label in labels %}
                <th>{{ label }}</th>
              {% endfor %}
              {% if object.ultimo %}
                <th style="min-width:8rem">Acões</th>
              {% else %}
                 <th></th>
              {% endif %}
            </tr>
          </thead>
          <tfoot>
            <tr>
              {% for label in labels %}
                <th>{{ label }}</th>
              {% endfor %}
              {% if object.ultimo %}
                <th style="min-width:8rem">Acões</th>
              {% else %}
              <th></th>
              {% endif %}

            </tr>
          </tfoot>
          <tbody>
            {%  for object in object_list %}
              <tr>
                <td>{{ object.dependente }}</td>
                <td>{{ object.data_medicao|date:"d/m/Y" }}</td>
                <td>{{ object.hora }}</td>
                <td>{{ object.get_estado_alimentar_display }}</td>
                <td><a href="{{ object.get_absolute_url }}">{{ object.taxa_glicose }}</a></td>
                <td>{{ object.media_diaria }}</td>
                <td>{{ object.media_mensal }}</td>
                <td>{{ object.cuidador }}</td>
                <td>{{ object.responsavel }} </td>

                  {% if object.ultimo %}
                    <td>
                      <a class ="btn btn-warning btn-sm" href="{% url 'glicose_edit' object.id %}">Editar</a>
                      <a class ="btn btn-danger btn-sm" href="{% url 'glicose_delete' object.id %}" onclick="return confirm ('Deseja mesmo deletar o taxa de glicose de id: {{ object.data_medicao }} ?  ')">Excluir</a>
                    </td>
                  {% else %}
                    <td></td>
                  {% endif %}

              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock content %}

{% block js %}
  <script>
    $('#id_dependente').on('change', function(e){
      e.preventDefault()
      $('#formBuscar').submit()
    })
  </script>
  <script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });

    htmx.on("htmx:afterSwap", function(evt) {
      if (evt.target.id == 'linkDeletar'
      ) {
        location.reload();
      }
    });
  </script>
{% endblock js %}