{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
  <div class="container">
    <h4> <B><label>{{ user.get_full_name }} -  Familia {{ familia}}</label></B></h4>
    <h4> Detalhes da Medição de Glicose </h4>


    <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <td>Dependente</td>
            <td>{{object.dependente|default:"---"}}</td>
          </tr>
          <tr>
            <td>Data</td>
            <td>{{object.data_medicao|date:"d/m/Y"|default:"---" }}</td>
          </tr>
          <tr>
            <td>Hora</td>
            <td>{{object.hora|default:"---"}}</td>
          </tr>
          <tr>
            <td>Estado Alimentar</td>
            <td>{{object.get_estado_alimentar_display|default:"---"}}</td>
          </tr>
          <tr>
            <td>Taxa de Glicose</td>
            <td>{{object.taxa_glicose|default:"0"}}</td>
          </tr>
          <tr>
            <td>Alimentos ingeridos</td>
            <td>{{object.alimentos|default:"---"}}</td>
          </tr>
          <tr>
            <td>Media diária</td>
            <td>{{object.media_diaria|default:"0"}}</td>
          </tr>
          <tr>
            <td>Média mensal</td>
            <td>{{object.media_mensal|default:"0"}}</td>
          </tr>
          <tr>
            <td>Cuidador</td>
            <td>{{object.cuidador|default:"---"}}</td>
          </tr>
          <tr>
            <td>Responsável</td>
            <td>{{object.responsavel|default:"---"}}</td>
          </tr>
          <tr>
            <td>Observação</td>
            <td>{{ object.observacao|default:"---" }}</td>
          </tr>
          <tr>
            <td colspan="2"><a class ="btn btn-warning" href="{% url 'glicose_list' %}" >Voltar</a></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>


{% endblock content %}