{% extends 'base.html' %}

{% block title %} Glicoses {% endblock %}

{% block content %}
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="d-sm-flex align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Detalhes da Medição de Glicose</h6>
        <a href="{{ object.list_url }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Voltar</a>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <td>Dependente</td>
              <td>{{object.dependente|default:"---"}}</td>
            </tr>
            <tr>
              <td>Data</td>
              <td>{{object.data_medicao|date:"d/m/Y"|default:"---" }}</td>
            </tr>
            <tr>
              <td>Hora</td>
              <td>{{object.hora|default:"---"}}</td>
            </tr>
            <tr>
              <td>Estado Alimentar</td>
              <td>{{object.get_estado_alimentar_display|default:"---"}}</td>
            </tr>
            <tr>
              <td>Taxa de Glicose</td>
              <td>{{object.taxa_glicose|default:"0"}}</td>
            </tr>
            <tr>
              <td>Tipo Insulina</td>
              <td>{{object.get_tipo_insulina_display|default:"---"}}</td>
            </tr>
            <tr>
              <td>Qt Insulina</td>
              <td>{{object.qt_insulina|default:"---"}}</td>
            </tr>
            <tr>
              <td>Media diária</td>
              <td>{{object.media_diaria|default:"0"}}</td>
            </tr>
            <tr>
              <td>Média mensal</td>
              <td>{{object.media_mensal|default:"0"}}</td>
            </tr>
            <tr>
              <td>Cuidador</td>
              <td>{{object.cuidador|default:"---"}}</td>
            </tr>
            <tr>
              <td>Responsável</td>
              <td>{{object.responsavel|default:"---"}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}


