{% extends 'base.html' %}
{% load usergroup_tags %}


{% block title %} Medicamentos {% endblock %}

{% block content %}
  <!-- <h1 class="h3 mb-2 text-gray-800">Medicamentos</h1> -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="d-sm-flex align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Medicamentos</h6>
        {% if not user|has_group:"cuidador" %}
          <a href="{% url 'medicamento_add' %}" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-plus fa-sm text-white-50"></i> Adicionar</a>
        {% endif %}
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive-sm">
        <table
          id="dataTable"
          class="table table-striped"
          width="100%"
          cellspacing="0"
        >
          <thead>

            <tr>
              {% for label in labels %}
                <th>{{ label }}</th>
              {% endfor %}
              {% if not user|has_group:"cuidador" %}
                <th style="min-width:8rem">Acões</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>

            {%  for object in object_list %}
            <tr>
                <td>{{ object.dependente }}</td>
                <td><a href="{{ object.get_absolute_url }}">{{ object.medicamento_prescrito }}</a> </td>
                <td> {{ object.principio_ativo }}</td>
                <td>{{ object.indicacoes }} </td>
                <td>{{ object.dosagem}} </td>
                <td>{{ object.data_inicio|date:"d/m/Y" }} </td>
                <td>{{ object.data_fim|date:"d/m/Y"}} </td>
                <td>{{ object.medico_responsavel }} </td>
                <td>{{ object.get_fornecedor_principal_display }} </td>

                {% if not user|has_group:"cuidador" %}
                  <td>
                    <a class ="btn btn-warning btn-sm" href="{{ object.update_url }}">Editar</a>
                    <a class ="btn btn-danger btn-sm" href="{% url 'medicamento_delete' object.id %}" onclick="return confirm ('Deseja mesmo deletar o medicamento : {{ object.medicamento_prescrito }} ?  ')">Excluir</a>
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock content %}

{% block js %}
  <script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });

    htmx.on("htmx:afterSwap", function(evt) {
      if (evt.target.id == 'linkDeletar'
      ) {
        location.reload();
      }
    });
  </script>
{% endblock js %}