{% extends 'base.html' %}

{% block title %} Pós-Consultas {% endblock %}

{% block content %}
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="d-sm-flex align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Detalhes da Pós-Consulta</h6>
        <a href="{% url 'consulta_list' %}" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">Voltar</a>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <td>Consulta</td>
              <td>{{object.consulta|default:"---"}}</td>
            </tr>
            <tr>
              <td>Especialista</td>
              <td>{{object.consulta.get_especialidade_display|default:"---"}}</td>
            </tr>
            <tr>
              <td>Médico</td>
              <td>{{object.consulta.nome_especialista|default:"---" }}</td>
            </tr>
            <tr>
              <td>Diagnóstico</td>
              <td>{{object.diagnostico|default:"---"}}</td>
            </tr>
            <tr>
              <td>Tratamento</td>
              <td>{{object.tratamento|default:"---" }}</td>
            </tr>

            <tr>
              {% if object.receitas.all %}
                <td>Receita</td>
                <td>
                  {% for item in object.receitas.all %}
                    {% if item.receita %}
                      <a href="{{ item.receita.url }}">
                        <img src="{{ item.receita.url }}" style="width: 20vw" alt="{{ item.receita.url }}">
                      </a>
                    {% endif %}
                  {% endfor %}
                </td>
              {% endif %}
            </tr>
            <tr>
              {% if object.exames.all %}
                <td>Exames</td>
                <td>
                  {% for item in object.exames.all %}
                    {% if item.exame %}
                      <a href="{{ item.exame.url }}">
                        <img src="{{ item.exame.url }}" style="width: 20vw" alt="{{ item.exame.url }}">
                      </a>
                    {% endif %}
                  {% endfor %}
                </td>
              {% endif %}
            </tr>
            <tr>
              <td>Observações</td>
              <td>{{object.observacao|default:"---" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
